* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Poppins;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 50px 150px;
    background-color: white;
}

.headlinks {
    display: flex;
    gap: 24px;
}

.headlinks a {
    text-decoration: none;
}

.headlinks img {
    width: 30px;
}





.hero {
    padding: 8px 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
}

.herotext h1, .herotext p{
    margin-bottom: 18px;    
}

.btn {
    padding: 6px 14px;
    border-radius: 25px;
    border: none;
    color: white;
    background-color: #E02C6D;
}

.btn:hover {
    background-color: black;
}

.heroimg img {
    width: 400px;
}





.thirdsec {
    padding: 0px 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 70px;
}

.line1, .line2 {
    height: 1px;
    width: 80%;
    justify-content: center;
    background: rgba(142, 143, 142, 0.15);
    margin: 60px auto 30px auto;
}

.line2 {
    margin: 30px auto 60px auto;
}